<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- Content -->
<div layout:fragment="content">
    <form onsubmit="return false;">
        <input type="hidden" name="companySeq" id="companySeq">
        <h3>Compny</h3>
        <table id="companyList">
            <thead>
                <tr>
                    <td>No</td>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Address</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <h3>Product of '<span id="selectCompanySeq">Company를 선택하세요</span>'</h3>
        <button onClick="save();">저장</button>
        <table id="productList">
            <thead>
            <tr>
                <td>No</td>
                <td>ID</td>
                <td>Name</td>
                <td>OS Type</td>
                <td>OS Bit</td>
                <td>Description</td>
                <td>선택</td>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </form>
</div>


<script>


    $.ajax({
        url:"/company",
        type:"GET",
        success: function(result) {
            if (result) {
                var companyListHtml = '';

                for (let i = 0; i < result.length; i++) {
                    companyListHtml += `<tr onClick="clickCompany(${result[i].companySeq},'${result[i].name}');">
                        <td>${i}</td>
                        <td>${result[i].companySeq}</td>
                        <td>${result[i].name}</td>
                        <td>${result[i].email}</td>
                        <td>${result[i].address}</td>
                        <td>${result[i].description}</td>
                    </tr>`;
                }
                $('#companyList tbody').append(companyListHtml);
            } else {
                alert("오류 발생");
            }
        }
    });


    $.ajax({
        url:"/product",
        type:"GET",
        success: function(result) {
            if (result) {
                var productListHtml = '';

                for (let i = 0; i < result.length; i++) {
                    productListHtml += `<tr>
                        <td>${i}</td>
                        <td>${result[i].product_seq}</td>
                        <td>${result[i].name}</td>
                        <td>${result[i].os_type}</td>
                        <td>${result[i].os_bit}</td>
                        <td>${result[i].description}</td>
                        <td><input type="checkbox" name="mapping" value="${result[i].product_seq}"></td>
                    </tr>`;
                }
                $('#productList tbody').append(productListHtml);
            } else {
                alert("오류 발생");
            }
        }
    });

    function clickCompany(companySeq, companyNm) {
        $('#companySeq').val(companySeq);
        $('#selectCompanySeq').text(companyNm);
    }
    function save() {
        var companySeq = $('#companySeq').val();
        var productSeqList = [];
       $('input[name="mapping"]:checked').each(function(i) {
           productSeqList.push(i);
        });

        var reqData = {
            companySeq: companySeq,
            productSeqList: productSeqList
        };

        $.ajax({
            type: 'POST',
            url:"/companyProductMapping",
            contentType: 'application/json',
            data: JSON.stringify(reqData),
            success: function(result) {
                if (result) {

                } else {
                    alert("오류 발생");
                }
            }
        });
    }
</script>

</html>