<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/style.css}" >
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:src="@{/js/user/user.js}"></script>
</th:block>

<!-- Content -->
<div layout:fragment="content">
  <div class="login-wrapper">
    <div class="login-content">
      <div class="left-area"></div>
      <div class="right-area" id="loginForm">
        <div class="login-title">Log In</div>
        <div class="login-input">
          <div class="id">
            <span></span>
            <input type="text" name="userId" id="userId" value="" placeholder="아이디를 입력해주세요.">
<!--            <input type="text" name="userId" id="userId" value="admin" placeholder="아이디를 입력해주세요.">-->
          </div>
          <div class="password">
            <span></span>
            <input type="password" name="userPwd" id="userPwd" value="" placeholder="비밀번호를 입력해주세요.">
<!--            <input type="password" name="userPwd" id="userPwd" value="1" placeholder="비밀번호를 입력해주세요.">-->
          </div>
          <p class="error" id="loginError">아이디 혹은 비밀번호가 올바르지 않습니다.<br>
            다시 입력해주세요</p>
          <button class="btn-login" id="btn_login">로그인</button>
        </div>
        <div class="login-bottom">(주) CEL © 2021-2023</div>
      </div>
      <div class="right-area" id="initForm" style="display:none;">
        <div class="login-title">비밀번호 변경</div>
        <p class="password-p">최초 로그인 입니다. 비밀번호를 변경해주세요.</p>
        <div class="login-input">
          <div class="password">
            <span></span>
            <input type="password" name="initUserPwd" id="initUserPwd" placeholder="비밀번호 입력">
          </div>
          <div class="password">
            <span></span>
            <input type="password" name="initUserPwdCfm" id="initUserPwdCfm" placeholder="비밀번호 확인">
          </div>
          <p class="error" id="initUserError">비밀번호가 올바르지 않습니다. 다시 입력해주세요</p>
          <button class="btn-login" id="btn_change_pwd">변경하기</button>
        </div>
        <div class="login-bottom">(주) CEL © 2021-2023</div>
      </div>
    </div>
  </div>
  <input type="hidden" name="hiddenUserNo" id="hiddenUserNo">
</div>
</html>